.jumbotron {
	background-color: #88fca3;
	color: black;
	margin-top: 50px;
	background-image: url("../img/banner.png");
  	background-size: cover;
  	background-position: center bottom;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #88fca3;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-mascota {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-mascota {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.button-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}