@yellow: #faf500;
@red: #ff1900;
@green: #4ed439;

.margenes(@top: 0px, @bottom: 0px) {
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @green;
	color: black;
	background-image: url("../img/banner.png");
  	background-size: cover;
  	background-position: center bottom;
	.margenes(50px, 15px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: @green;
	.margenes(10px, 0px);
}

.card-mascota {
	flex: 1 200px;
	.margenes(10px, 0px);
}

.btn-mascota {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.button-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}