.jumbotron {
  background-color: #4ed439;
  color: black;
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center bottom;
  margin-top: 50px;
  margin-bottom: 15px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #4ed439;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-mascota {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-mascota {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.button-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}
